{% extends 'base.html' %}

{% load static %} 
{% load thumbnail %}
{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}
{% block content %}
<div class="container">
  <div class="element-1">
  <aside class="col-12 col-md-3">
    <font color=black>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
{% if post.group %}
  <li class="list-group-item">
    Группа: {{post.group.slug}}
    <div class="post__link">
      <a href="{% url 'posts:group_list' post.group.slug %}" >все записи группы: {{post.group.slug}}</a>
    </div>
  </li>
{% endif %} 
<li class="list-group-item">
  Автор: {{ post.author.get_full_name }} 
</li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Всего постов автора:<span >{{ post.author.posts.count }}</span>
  </li>
<li class="list-group-item">
  <a href="{% url 'posts:profile' post.author.username %}">Все посты пользователя</a>
</div>
</li>
</ul>
</aside>

<div class="element-2" style="position: relative; top: -220px; left: 350px; ">
  {% thumbnail post.image "1150x680" crop="center"  as im %}
<img src="{{ im.url }}"  class="image-radius"/>
{% endthumbnail %}
  <p>
    <font color=white>
    {{ post.text|linebreaksbr }}
    </font>
  </p>
  <a href="{% url 'posts:post_edit' post.id %}" class="button19">Редактировать</a>
</div>
<div class="element-3" style="position: relative;">
  {% include 'includes/comment.html' %}
</font>
</div>
</div>
{% endblock %}